project:
  type: website
  output-dir: docs

website:
  title: "scrnaseqcourse"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: day2.qmd
        text: Day 2
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

